@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="jumbotron p-3 p-md-5 w-100 text-white rounded bg-dark" width="100%">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Job Hut</h1>
            <p class="lead my-3">The newest way for jobs to find job hunters.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Sign up today</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
            <h1 class="display-4">Our Services</h1>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            For Employers
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Job Hut will search for qualified canidates, invite them to apply and then pre-screen applicants, Allowing companies to process hundreds of job applications for a given role.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            For Future Employees
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Not only does Job Hut host it's own job boards, Job Hut also aggrigates job boards from around the web, allowing job hunters to quickly find their next career.'
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="display-4">Testimonials</h1>
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/venmo_logo.png" class="mr-3" height="64px" width="64px" class="mr-3" alt="Venmo Logo"/>
                        <div class="media-body">
                            <blockquote class="blockquote">
                                <p class="mb-0">"Job Hut did the work of 10 recruiters. I would reccomend it to any company"</p>
                                <footer class="blockquote-footer">John Smith <cite title="Source Title">Venmo</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="~/Spotify_Logo.png" class="mr-3" height="64px" width="64px" alt="Spotify Logo" />
                        <div class="media-body">
                            <blockquote class="blockquote">
                                <p class="mb-0">"Job Hut really has simplified our recruiting process."</p>
                                <footer class="blockquote-footer">Jon Smith <cite title="Source Title">Spotify</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                    <li class="media">
                        <img class="mr-3" src="~/HP_Logo.jpg" width="64px" height="64px" alt="Hewlett-Packard logo"/>
                        <div class="media-body">
                            <blockquote class="blockquote">
                                <p class="mb-0">"It's Pretty Good."</p>
                                <footer class="blockquote-footer">J. Smith <cite title="Source Title">Hewlett-Packard</cite></footer>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h1 class="display-4">About Us</h1>
            <p class="lead">Job Hut is a Recruiting site designed to make the process of hiring and being hired as simple as possible. Our clients come from a variety of industries from tech to industry, everyone is using Job Hut.</p>
            <hr class="my-4">
            <h1 class="display-4">How to Apply</h1>
            <p class="lead">To join us select the appropriate box bellow and follow the prompts on the folling page.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Employers</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Future Employees</a>
            </p>
        </div>
    </div>
</div>