@page
@model RecruitCatTroyerkr.Pages.OurTeamModel
@{
}
<div class="row">
    <div class="jumbotron w-100" >
        <h1 class="display-4">Our Team</h1>
        <p class="lead">Our team is made up of some of the foremost experts in the field of HR recruiting.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="https://media-exp1.licdn.com/dms/image/C4D03AQGkd-rwdUnTFA/profile-displayphoto-shrink_400_400/0/1570487391017?e=1636588800&v=beta&t=6ArEdS-pIZkq3mIHGKhzSJwJHgyQNnT9Ny1rfPTHNG8" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Kyle Troyer</h2>
        <p>Kyle Troyer is a 4th year Information Systems major at the University of Cincinanti. Kyle is currently working part time as a Data Analyst Intern for Great American Insurance's Internal Audit Department. Kyle Normally likes to finish his programming homework early so he has enough time to play around and learn new things. This week however Kyle did not finish early, a fact he is now regretting.</p>
        <p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="https://media-exp1.licdn.com/dms/image/C4E03AQEQ-FN6eMUucA/profile-displayphoto-shrink_400_400/0/1616106954419?e=1636588800&v=beta&t=teXZVOBDGrEpMHSofh7m8bTRcLWFRY9QVZZVHU_JZu0" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Nick Natale</h2>
        <p>Nick Natale is a 4th year Information Systems major at the University of Cincinanti. Nick recently finished a summer co-op with Proctor and Gamble. One of Nick's defining charectoristics is his fandom for the Pittsburg Steelers Football team. Nick will undoubtably be disapointed when they finish below the Cleveland Browns in the AFC North this season.</p>
        <p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="https://media-exp1.licdn.com/dms/image/C4E03AQHF9BAg2-TcPg/profile-displayphoto-shrink_400_400/0/1570840138098?e=1636588800&v=beta&t=L1HQPVudEwvuMEy3s_9TX73SUtbEEJw4MsWz-ISRUGA" alt="Generic placeholder image" width="140" height="140">
        <h2 class="text-center">Jake Gevedon</h2>
        <p>Jake Gevedon is a 4th year Marketing major from the University of Cincinnati. Jake recently finished up a summer co-op with 84.51 and will be joining them full time in the summer of 2022. Jake is well know for his networking prowess but sadly still has the same Linkedin profile picture from freshman year.</p>
        <p><a class="btn btn-secondary" href="#" role="button">See More »</a></p>
    </div><!-- /.col-lg-4 -->
</div>