/* this style sheet is a modified version of an example from W3schools.com 
https://www.w3schools.com/css/css_website_layout.asp */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: rgb(219, 219, 219);
  padding: 20px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column_50 {
  float: left;
  width: 50%;
  padding: 5px;
}

.column_25 {
  float: left;
  width: 25%;
  padding: 5px;
}

.column_75 {
  float: left;
  width: 75%;
  padding: 5px;
}
.column_100 {
  float: left;
  width: 100%;
  padding: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  .column_25 {
    width: 100%;
  }
  .column_50 {
    width: 100%;
  }
  .column_75 {
    width: 100%;
  }
}

table {
  width: 100%;
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  font-size: 12px;
  text-align: center;
}

.class-name{
  text-align: left;
}

/*fonts*/

p{
  font-family:sans-serif;
}

h1, h2, h3{
  font-family: serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}



